In [24]:
import pandas as pd
import numpy as np

#Exploratory data analysis

In [40]:

uncleaned_df = pd.read_csv(r'EmployeeDataUncleaned.csv', encoding='ISO-8859-1')
print('dataframe shape:')
uncleaned_df.shape

dataframe shape:

(1262, 14)

In [15]:
uncleaned_df.describe()

               Age
count  1256.000000
mean     44.932325
std      11.166657
min      25.000000
25%      36.000000
50%      45.000000
75%      54.000000
max      65.000000

In [14]:
uncleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1262 entries, 0 to 1261
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Employee ID    1243 non-null   object
 1   Full Name      1222 non-null   object
 2   Job Title      1204 non-null   object
 3   Department     1215 non-null   object
 4   Business Unit  1180 non-null   object
 5   Gender         1213 non-null   object
 6   Ethnicity      1220 non-null   object
 7   Age            1256 non-null   float64
 8   Hire Date      1227 non-null   object
 9   Annual Salary  1189 non-null   object
 10  Bonus %        1214 non-null   object
 11  Country        1156 non-null   object
 12  City           1207 non-null   object
 13  Exit Date      125 non-null    object
dtypes: float64(1), object(13)
memory usage: 138.2+ KB

In [32]:
summary_df = pd.DataFrame({
    'Null Count': uncleaned_df.isnull().sum(),
    'Duplicate Count': uncleaned_df.duplicated().sum()
})
print(summary_df)

               Null Count  Duplicate Count
Employee ID            19              135
Full Name              40              135
Job Title              58              135
Department             47              135
Business Unit          82              135
Gender                 49              135
Ethnicity              42              135
Age                     6              135
Hire Date              35              135
Annual Salary          73              135
Bonus %                48              135
Country               106              135
City                   55              135
Exit Date            1137              135

#checking for duplicated rows

In [36]:
duplicates = uncleaned_df[uncleaned_df.duplicated(keep=False)]
display(duplicates)

,Employee ID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
11,E02013,Bella Wu,Sr. Analyst,Finance,Specialty Products,Female,Asian,63.0,8/3/2014,"$71,418",0%,United States,Phoenix,NaN
12,E02014,Jose Wong,Director,IT,Manufacturing,Male,Asian,45.0,11/15/2017,"$150,558",23%,China,Chongqing,NaN
13,E02015,Lucas Richardson,Manager,Marketing,Corporate,Male,Caucasian,36.0,7/22/2018,"$118,912",8%,United States,Miami,NaN
14,E02016,Jacob Moore,Sr. Manager,Marketing,Corporate,Male,Black,42.0,3/24/2021,"$131,422",15%,United States,Phoenix,NaN
15,E02017,Luna Lu,IT Systems Architect,IT,Corporate,Female,Asian,62.0,7/26/1997,"$64,208",0%,United States,Miami,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1257,E02250,Mila Han,Manager,Sales,Manufacturing,Female,Asian,54.0,11/14/2009,"$128,791",6%,United States,Miami,NaN
1258,E02251,Genesis Herrera,Manager,IT,Research & Development,Female,Latino,34.0,10/3/2015,"$126,898",10%,Brazil,Manaus,NaN
1259,E02252,Olivia Vazquez,Network Engineer,IT,Specialty Products,Female,Latino,53.0,4/13/2020,"$93,053",0%,Brazil,Sao Paulo,NaN
1260,E02253,Leilani Ng,Systems Analyst,IT,Corporate,Female,Asian,48.0,9/19/2011,"$50,513",0%,United States,Seattle,10/30/2019
1261,E02254,Olivia Mendoza,Sr. Account Representative,Sales,Corporate,Female,Latino,43.0,5/7/2017,"$86,533",0%,United States,Columbus,NaN

In [30]:
display(uncleaned_df['Exit Date'])

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
1257           NaN
1258           NaN
1259           NaN
1260    10/30/2019
1261           NaN
Name: Exit Date, Length: 1262, dtype: object

#cleaning df

In [42]:


# Load the CSV file into a DataFrame
uncleaned_df = pd.read_csv(r'EmployeeDataUncleaned.csv', encoding='ISO-8859-1')

# Impute missing values for Age with median
uncleaned_df['Age'].fillna(uncleaned_df['Age'].median(), inplace=True)

# Replace dollar sign with empty string and convert to float
uncleaned_df['Annual Salary'] = uncleaned_df['Annual Salary'].str.replace('$', '', regex=False).str.replace(',', '', regex=False).astype(float)

# Impute missing values for Bonus % with median (after removing '%')
uncleaned_df['Bonus %'] = uncleaned_df['Bonus %'].str.replace('%', '', regex=False).astype(float)  # Convert Bonus % to float
uncleaned_df['Bonus %'].fillna(uncleaned_df['Bonus %'].median(), inplace=True)  # Impute with median

# Fill missing values in categorical columns with 'Unknown'
categorical_columns = ['Full Name', 'Job Title', 'Department', 'Business Unit', 'Gender', 'Ethnicity', 'Country', 'City']
for column in categorical_columns:
    uncleaned_df[column].fillna('Unknown', inplace=True)

# Drop duplicates based on Employee ID
uncleaned_df.drop_duplicates(subset='Employee ID', inplace=True)

# Convert date columns to datetime
uncleaned_df['Hire Date'] = pd.to_datetime(uncleaned_df['Hire Date'], errors='coerce')
uncleaned_df['Exit Date'] = pd.to_datetime(uncleaned_df['Exit Date'], errors='coerce')

# Drop column Exit Date (too many null values)
uncleaned_df.drop(columns=['Exit Date'], inplace=True)

# Check the cleaned DataFrame
print(uncleaned_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 986 entries, 0 to 1017
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Employee ID    985 non-null    object
 1   Full Name      986 non-null    object
 2   Job Title      986 non-null    object
 3   Department     986 non-null    object
 4   Business Unit  986 non-null    object
 5   Gender         986 non-null    object
 6   Ethnicity      986 non-null    object
 7   Age            986 non-null    float64
 8   Hire Date      961 non-null    datetime64[ns]
 9   Annual Salary  952 non-null    float64
 10  Bonus %        986 non-null    float64
 11  Country        986 non-null    object
 12  City           986 non-null    object
dtypes: datetime64[ns](1), float64(3), object(9)
memory usage: 107.8+ KB
None

<ipython-input-42-45f358d13949>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  uncleaned_df['Age'].fillna(uncleaned_df['Age'].median(), inplace=True)
<ipython-input-42-45f358d13949>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  uncleaned_df['Bonus %'].fillna(uncleaned_df['Bonus %'].median(), inplace=True)  # Impute with median
<ipython-input-42-45f358d13949>:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  uncleaned_df[column].fillna('Unknown', inplace=True)

In [43]:
uncleaned_df.shape

(986, 13)

In [44]:
clean_df = pd.DataFrame({
    'Null Count': uncleaned_df.isnull().sum(),
    'Duplicate Count': uncleaned_df.duplicated().sum()
})
print(clean_df)

               Null Count  Duplicate Count
Employee ID             1                0
Full Name               0                0
Job Title               0                0
Department              0                0
Business Unit           0                0
Gender                  0                0
Ethnicity               0                0
Age                     0                0
Hire Date              25                0
Annual Salary          34                0
Bonus %                 0                0
Country                 0                0
City                    0                0

In [45]:

uncleaned_df.to_csv('cleanedEmployee.csv', index=False)