In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv(r"EmployeeDataUnclean.csv",encoding='ISO-8859-1')
df.head()

,Employee ID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02002,Kai Le,Controls Engineer,Engineering,Manufacturing,Male,Asian,47.0,2/5/2022,"$92,368",0%,United States,Columbus,NaN
1,E02003,Robert Patel,Analyst,Sales,Corporate,Male,Asian,58.0,10/23/2013,"$45,703",0%,United States,Chicago,NaN
2,E02004,Cameron Lo,Network Administrator,IT,Research & Development,Male,Asian,34.0,3/24/2019,"$83,576",0%,China,Shanghai,NaN
3,E02005,Harper Castillo,IT Systems Architect,IT,Corporate,Female,Latino,39.0,4/7/2018,"$98,062",0%,United States,Seattle,NaN
4,E02006,Harper Dominguez,Director,Engineering,Corporate,Female,Latino,42.0,6/18/2005,"$175,391",24%,United States,Austin,NaN

In [19]:

df["Hire Date"].fillna('Unknown',inplace=True)
df["Business Unit"].fillna('Unknown',inplace=True)
df["Department"].fillna('Unknown',inplace=True)
df["Job Title"].fillna('Unknown',inplace=True)
df["Full Name"].fillna('Unknown',inplace=True)
df["Gender"].fillna('Unknown',inplace=True)
df["Ethnicity"].fillna('Unknown',inplace=True)
df["Country"].fillna('Unknown',inplace=True)
df["City"].fillna('Unknown',inplace=True)
df["Annual Salary"].fillna(0,inplace=True)
df.drop('Exit Date',axis=1,inplace=True)

C:\Users\bharg\AppData\Local\Temp\ipykernel_15408\1977692156.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Hire Date"].fillna('Unknown',inplace=True)
C:\Users\bharg\AppData\Local\Temp\ipykernel_15408\1977692156.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Business Unit"].fillna('Unknown',inplace=True)
C:\Users\bharg\AppData\Local\Temp\ipykernel_15408\1977692156.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Department"].fillna('Unknown',inplace=True)
C:\Users\bharg\AppData\Local\Temp\ipykernel_15408\1977692156.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Job Title"].fillna('Unknown',inplace=True)
C:\Users\bharg\AppData\Local\Temp\ipykernel_15408\1977692156.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Full Name"].fillna('Unknown',inplace=True)
C:\Users\bharg\AppData\Local\Temp\ipykernel_15408\1977692156.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Gender"].fillna('Unknown',inplace=True)
C:\Users\bharg\AppData\Local\Temp\ipykernel_15408\1977692156.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Ethnicity"].fillna('Unknown',inplace=True)
C:\Users\bharg\AppData\Local\Temp\ipykernel_15408\1977692156.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Country"].fillna('Unknown',inplace=True)
C:\Users\bharg\AppData\Local\Temp\ipykernel_15408\1977692156.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["City"].fillna('Unknown',inplace=True)
C:\Users\bharg\AppData\Local\Temp\ipykernel_15408\1977692156.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Annual Salary"].fillna(0,inplace=True)

In [20]:
df['Annual Salary'] = df['Annual Salary'].str.replace('$', '', regex=False).str.replace(',', '', regex=False)
df['Annual Salary'] = df['Annual Salary'].astype(float)
df['Annual Salary'].fillna(df['Annual Salary'].mean(),inplace=True)

C:\Users\bharg\AppData\Local\Temp\ipykernel_15408\4288007244.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Annual Salary'].fillna(df['Annual Salary'].mean(),inplace=True)

In [21]:
df['Bonus %'] = df['Bonus %'].str.replace('%', '', regex=False).str.replace(',', '', regex=False)
df['Bonus %'] = df['Bonus %'].astype(float)

In [10]:
df['Bonus %'].fillna(df['Bonus %'].mean(),inplace=True)

TypeError: can only concatenate str (not "int") to str

In [22]:
df['Bonus %'].isnull().sum()

48

In [23]:
df['Age'].fillna(df['Age'].mean(),inplace=True)

C:\Users\bharg\AppData\Local\Temp\ipykernel_15408\694922604.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)

In [24]:
df.isnull().sum()

Employee ID      19
Full Name         0
Job Title         0
Department        0
Business Unit     0
Gender            0
Ethnicity         0
Age               0
Hire Date         0
Annual Salary     0
Bonus %          48
Country           0
City              0
dtype: int64

In [25]:
df.to_csv(r"EmployeeClean.csv")